header{
background-color: green;
color: white;
font-family: sans-serif; 
font-size: 20px;
}
h1{
margin-bottom: 0px;
}
nav{
 background-color: #eeeeee;
padding: 8px;
 font-family: sans-serif;
 font-weight: bold;
}
a{
color: gray;
text-decoration: none;
}
a:hover{
    color: firebrick;
}
main{
font-family: sans-serif;
font-size: 14px;
}
h2{
    background-color: darkgoldenrod;
    color: white;
}

footer{
background-color: green;
color: white;
text-align: center;
font-family: sans-serif;
padding: 10px;
font-size: 10px;
}

.a_d{
  border: 1px solid balck; 
  color: black; 
  padding: 10px 24px; 
    margin-left: 20px
}
  
body{
    font-family: sans-serif;
}

 .seq_list{
               
   color: black;
   border: 1px solid black;
   margin: 5px;
   border-radius: 5px;
   padding: 8px;
   background-color: lightgray;
}
